body {
  margin: 0;
  padding: 0;
}

.square {
  width: 32%;
  height: 32%;
  background-color: cornflowerblue;
  border: black solid 1px;
  float: left;
}

.holder {
  position: relative; 
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: green solid 10px;
  top: 200px;
}
